@import '~/node_modules/bootstrap/scss/bootstrap.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

header{
    background-color: black;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    .input_box {

        input{
            padding: 1rem;
        margin-right: 10px;
        }
        button{
            padding: 1rem;
        margin-right: 10px;
        }
    }
}
main{
    background-color: rgba(0, 0, 0, 0.87);
    padding-top: 2rem;
    .output{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 1rem;
        .card_el{
            background-color: black;
            width: calc(100% / 5 - 2rem);
            border: 3px solid white;
            padding: 10px;
            height: 400px;
            .info{
                height: 100%;
                color: white;
                z-index: 1;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                overflow-y: scroll;
                .infobox{
                    height: 100%;
                    div{
                        visibility: hidden;
                        .rating{
                            i {
                                color: yellow;
                            }
                        }
                    }
                }
                .infobox:hover{
                    background-color: black;
                    visibility: visible;
                }
                .infobox:hover div{
                    background-color: black;
                    visibility: visible;
                }
            }
        }
    }
}
