@import '~/node_modules/bootstrap/scss/bootstrap.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

header{
    background-color: $nfix-bg;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav_links{
        flex-grow: 2;
        a{
            color: gray;
            text-decoration: none;
            margin: 0 20px;
            font-size: 1.5rem;
        }
        a:hover{
            color: white;
        }
    }
    .input_box {
        input, button{
            padding: 1rem;
            margin-right: 10px;
            border-radius: 1rem;
        }
    }
}
main{
    background-color: $nfix-bg;
    padding-top: 2rem;
    h1{
        color: white;
        max-width: 1440px;
        margin: 0 auto;
    }
    .output{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 1rem;
        .card_el{
            background-color: black;
            width: calc(100% / 5 - 10px);
            // border: 3px solid white;
            // padding: 10px;
            height: 400px;
            .info{
                height: 100%;
                color: white;
                z-index: 1;
                // background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                overflow-y: scroll;
                .infobox{
                    height: 100%;
                    padding: 10px;
                    div{
                        visibility: hidden;
                    }
                }
                .infobox:hover{
                    background-color: black;
                    visibility: visible;
                }
                .infobox:hover div{
                    background-color: black;
                    visibility: visible;
                }
            }
        }
    }
}
